on early-init
    device mtd@misc 0460 radio diag

# Set timeout value for rmnet stats.
  write /sys/devices/virtual/net/rmnet0/timeout_suspend 5000000
  write /sys/devices/virtual/net/rmnet0/timeout 18000000

on boot
# unmap left alt to avoid console switch
    setkey 0x0 0x38 0x0
# legend reset SEND+MENU+END
    setkey 0x0 0xe7 0x706
    setkey 0x0 0x8b 0x707

    setkey 0x40 0xe7 0x706
    setkey 0x40 0x8b 0x707

    setkey 0x80 0xe7 0x706
    setkey 0x80 0x8b 0x707

    setkey 0xc0 0xe7 0x706
    setkey 0xc0 0x8b 0x707
    setkey 0xc0 0x6b 0x20c

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    # Copying hostapd.conf (WLAN HotSpot)
    copy /system/etc/wifi/softap/hostapd.conf /data/misc/wifi/hostapd.conf

    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,5120,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

    # performance tweaks for flash
    write /sys/block/mtdblock3/bdi/read_ahead_kb 4
    write /sys/block/mtdblock4/bdi/read_ahead_kb 4
    write /sys/block/mtdblock5/bdi/read_ahead_kb 4

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0444                /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs_ti.0
    chmod 0660                /sys/devices/platform/msm_serial_hs_ti.0

    chmod 0664                /sys/module/serial/parameters/modem_enabled
    chown system system       /sys/module/serial/parameters/modem_enabled

    # leds
    chown system camera       /sys/devices/platform/flashlight.0/leds/flashlight/brightness
    chmod 0660                /sys/devices/platform/flashlight.0/leds/flashlight/brightness
    chown system system       /sys/devices/platform/leds-microp/leds/amber/brightness
    chmod 0660                /sys/devices/platform/leds-microp/leds/amber/brightness
    chown system system       /sys/devices/platform/leds-microp/leds/amber/blink
    chmod 0660                /sys/devices/platform/leds-microp/leds/amber/blink
    chown system system       /sys/devices/platform/leds-microp/leds/green/brightness
    chmod 0660                /sys/devices/platform/leds-microp/leds/green/brightness
    chown system system       /sys/devices/platform/leds-microp/leds/green/blink
    chmod 0660                /sys/devices/platform/leds-microp/leds/green/blink

    # radio
    chown system radio        /sys/camera_led_status/led_ril_status
    chmod 0664                /sys/camera_led_status/led_ril_status
    chown system radio        /sys/module/gpio_event/parameters/phone_call_status
    chmod 0664                /sys/module/gpio_event/parameters/phone_call_status

# compass/accelerometer daemon
service akmd /system/bin/akmd
    user compass
    group compass misc input

service wlan_loader /system/bin/wlan_loader \
    -f /system/etc/wifi/Fw1273_CHIP.bin \
    -e /proc/calibration \
    -i /system/etc/wifi/tiwlan.ini
    disabled
    oneshot

# HotSpot Related services
service wlan_ap_loader /system/bin/tiap_loader \
    -f /system/etc/wifi/Fw1273_CHIP_AP.bin \
    -e /proc/calibration \
    -i /system/etc/wifi/softap/tiwlan_ap.ini
    disabled
    oneshot

service hostapd /system/bin/hostap -dd /data/misc/wifi/hostapd.conf
    disabled
    oneshot

service ifcfg_up /system/bin/ifconfig tiwlan0 up
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf -q
    socket wpa_tiwlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_tiwlan0 /system/bin/dhcpcd -ABKL tiwlan0
    disabled
    oneshot

service iprenew_tiwlan0 /system/bin/dhcpcd -n tiwlan0
    disabled
    oneshot

service hciattach /system/bin/hciattach \
    -n -s 115200 /dev/ttyHS0 texasalt 4000000 flow
    user bluetooth
    group bluetooth net_bt_admin
    disabled

# bugreport is triggered by the KEY_BACK and KEY_MENU keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
#    keycodes 158 139
