/dev/akm8973_daemon     0640    compass    system
/dev/cpu_dma_latency    0660    system     system
/dev/msm_aac            0660    system     audio
/dev/smd9               0660    system     system
/dev/system_bus_freq    0660    system     system
/dev/ttyHSUSB0          0660    system     system
